@charset "utf-8";
/* 도깨비 PJ 메인 페이지 CSS - main.css */
/* 메인 페이지만 적용되는 css */

@import url(reset.css);
@import url(core.css);
@import url(common.css);

/* 공사중 표시  */

body * {
    outline: 2px dashed gray;
}

/* 컨텐츠 파트 최상위 부모 */
body {
    /* 한번에 배경주기 + 여러개 주기 */
    /* background 색이반고윙/크 */
    /* 콤마로 구분하여 여러 배경이미지 넣을 수 있고, 
    먼저 부른 이미지가 위에 온다. */
    background:
        url(../images/bg_logo_a_01.png) no-repeat fixed 15% 30% / 10%,
        url(../images/bg_mainvisual.jpg) no-repeat fixed center/cover;

    /* background-attachment: fixed;
        고정의 기준은 보이는 화면이다.
        스크해도 고정된 배경은 움직이지 않음
    */
}

/* 자식요소 float해제 설정 ㄱㅏ상요소 */

/* __________________________________ */

/* 메인 영역  */

.cont {
    height: 969px;
    overflow: hidden;
    /* 이거 왜했? 첫번째 자식요소 마진탑값이
    부모요소 바깥으로 미는 기본특성이 있으므로
    이것을 포함하기 위해 설정함 */
    margin-top: 250px;
}

/* __________________________________ */

/* 전체 캐릭터박스 */
.cbx{
    /* 가로크기 */
    width: 90%;
    margin: 0 auto; 
    margin-top: 350px;
    /* height: 100px; */
}

.cbx::after{
    content: '';
    display: block;
    clear: both;
}

/* 캐릭터 박스 */

.cat{
    /* 블록박스 흘러가게 - left 나는 왼쪽, 너는 오른쪽에 올라와!*/
    width: 24%;
    float: left;
    /* 양쪽마진 : 위아래 0 양쪽 0.5 */
    margin: 0 .5%;
    /* 보통 0.5%와 같이 .소수점 */
}
/* 캐릭터  캐릭터 이미지 */
.cat img{
    width: 100%;
    /* margin: 0 o; */
    
}