@charset "utf-8";
/* 도깨비 PJ 로그인 페이지 CSS - login.css */
/* 로그인 페이지만 적용되는 css */

@import url(reset.css);
@import url(core.css);
@import url(common.css);

/* 공사중 표시  */

/* body * {
    outline: 2px dashed gray;
} */

/* 메인 겉박스 */
#cont {
    background-color: rgb(255, 254, 224);
}

/* 메인 속박스 */
.cont {
    min-height: 640px;
    /* 내용이 늘어날 경우 자동 auto */
    /* text-align: center; */
}

#catimg {
    min-width: 100%;
    /* 이미지에 최대가로크기 100%?
    싸고 있는 박스가 이미지보다 작아지면 자동으로
    가로크기를 100%로 맞춤 */
}

/* 1. 타이틀 */
.stit{
    font-size: 5rem;
    text-align: center;
    padding: 40px 0 20px;
    font-weight: normal;
}
/* 2. 콘텐츠박스 */
.scont{
    /* 렐러티브 포지션 (부모자격:btnbx) */
    position: relative;
    max-width: 700px;
    min-height: 275px;
    margin: 0 auto;
    
    background-color: white;
    border-radius: 20px;
    border: 2px solid lightslategrey;
    padding: 60px 15px;
    /* 박스크기유지 : 보더, 패딩 포함 bxb*/
    box-sizing: border-box;
}

/* 입력창 공통 라벨 */
.minput label{
    display: inline-block; /* 크기 디자인 적용 */
    width: 140px;
    font-size: 2rem;
    font-weight: bold;
    color: #555;
    text-align: center;
    line-height: 3.6rem;
}

/* 입력양식공통 */
.minput input{
    width: 320px;
    height: 30px;
    border: 1px solid #777;
    border-radius: 5px;
    font-size: 1.6rem;
    box-sizing: border-box;
    color: #444;
}

.scont div:nth-child(2){
    margin-top: 15px;
}

/* 포커스 아웃라인 제거
모든 브라우저에 기본 포커스 아웃라인 세팅! */
input:focus{
    outline: none;
}

.btnbx{
    position: absolute;
    top: 58px;
    right: 60px;
    /* 부모는? .scont */
    
}
/* 서브싯버튼 */
#sbtn{
    width: 113px;
    height: 92px;    
    border: 1px solid #888;
    border-radius: 5px;
    /* 배경 그라데이션 */
    background-image: linear-gradient(to bottom, #ddd, #555);
    color:  #FFF;
    font-size: 1.5rem;
    text-shadow: 1px 1px  #666;
}


/* 체크박스 영역*/
.addbx{
    margin-top: 50px;
    text-align: center;
    font-size: 1.6rem;
    /* 글자 선택영역 안 잡히게 제한 */
    user-select: none;
}

/* 체크박스 라벨과 세로정렬*/
.addbx input{
    width: 0; /* 체크박스 안 보이게 하기! */
}

/* 체크박스 아이콘을 라벨에 넣기*/
.addbx input+label{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: -3px;
    font-size: 20px;
    color : green;
    margin-right: 5px;
    /* outline: 1px solid red; */
}

/* 체크박스 체크시 아이콘 변경 */
.addbx input:checked+label{
    font-weight: 900;
}


/* 기타링크 a | 구분선 */
/* span+span 앞에 span이 있는 span 형제*/
.addbx span+span::before{
    content: '|';
    margin: 0  10px;
}
