@charset "utf-8";
/* CGV PJ 메인 페이지 CSS - main.css */

/* 외부 css 합치기 */
@import url(reset.css);
@import url(core.css);

/* 전체배경색 */

body {
    background-color: #000;
}

/* 공사중 표시 */
/* body * {
    outline: 1px dotted lime;
} */

/********************* 1. 상단영역 *********************/
.top {
    /* 부모자격 .gnb */
    position: relative;
    height: 80px;
    background: url(../images/curtain.jpg) repeat-x;
}


/* 1-1 로고 */
.tit {
    font-family: 'Jua', sans-serif;
    color: aquamarine;
    font-size: 4rem;
    text-align: center;
    line-height: 80px;
    
    /* 그림자 이용하여 Glow효과 */
    text-shadow: 0 0 4px aquamarine;
    /* 애니메이션 : 이시이지반방마 */
    animation: titAni .5s ease-in infinite alternate;
}

/* 1-2 */
.gnb{
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.gnb ul{
    /* 직계li만 옆으로 흘러간다. */
    display: flex;
}

.gnb ul li{
    font-family: 'Jua', sans-serif;
    padding: 0 10px;
    color: #FFF;
    font-size: 2rem;
}
/* 타이틀 글로우 효과 애니메이션 키프레임*/
@keyframes titAni {
    to {
        text-shadow: 0 0 12px aquamarine;
    }

    /* 키프레임 */
}

/********************* 2. 메인영역 *********************/
.cont {
    /* 렐러티브 포지션 : 부모자격(#screen) */
    position: relative;
    height: 788px;
    background: url(../images/bg.jpg) no-repeat center;
}

/* 2-1 스크린박스 */
#screen {
    /* 앱솔루트 포지션 */
    position: absolute;
    top: 137px;
    left: calc(50% - 342px);
    /* 화면이 줄어도 스크린이 중앙에 위치하도록
    left 50 % 밀고 스크린 크기의 절반정도를 뺌 */
    width: 699px;
    height: 400px;

    /* 부모는 .cont */
    background-color: black;
}

/* 유튜브 아이프레임 */
#screen iframe {
    width: 100%;
    height: 100%;
    border: none;
    /* 기본프레임보더 없앰 */

}

/* 2-2. 예고편 선택메뉴 */
.mlist {
    position: absolute;
    bottom: 50px;
    width: 100%;
    /* 앱솔루트 판타롱스타킹이므로 가로크기를
    부모박스에 맞춘다!
    왜 ? flex 정렬 이므로 */
}

/* 예고편 ul */
.mlist ul {
    /* 플렉스 박스 */
    display: flex;
    /* 수평방향 정렬 */
    justify-content: center;

}

/* 상위 li 2번째부터 끝까지 선택 */
.mlist>ul>li+li {
    margin-left: 10px;
}

.mlist img {
    width: 99px;
    height: 140px;
}

/* 상위 li */
.mlist ul>li {
    /* 부모 자격 포지션 주기! */
    position: relative;
    overflow: hidden;
    /* 부모자격이 있는 요소가
    앱솔루트 숨길 수 있다! */
}

.movtxt {
    /* 플렉스 박스 */
    display: flex;
    /* 플렉스 수직방향진행 */
    flex-direction: column;
    /* 진행방향의 수평 중앙정렬 */
    justify-content: center;

    /* 처음에 높이값 만큼 아래에 있음 */

    position: absolute;
    top: 100%;

    /* 부모는 상위 li */
    width: 100%;
    height: 100%;

    /* 반투명 배경 */
    background-color: rgba(0, 0, 0, 0.481);
    font-family: 'Cute Font', cursive;
    color: #FFF;
    font-size: 1.5rem;
    text-align: center;
    line-height: 2;

    transition: top .5s ease-out;
}

/* 상위li에 마우스 오버시 영화정보 올라오기 */
.mlist ul>li:hover .movtxt {
    top: 0;
}

/* 영화제목만 변경 */
.movtxt li:first-child {
    color: aqua;
    font-size: 1.7rem;
    letter-spacing: -1px;
}

/********************* 3. 하단영역 *********************/
.info {
    height: 100px;
    /* position: relative; */
}

/* 3-1. 하단로고 */
.info{
    /* 플렉스 박스 - 하위직계 div만 옆으로 움직임 */
    display: flex;
    height: 100px;
    /* 진행방향의 수직정렬*/ 
    align-items: center;
    min-height: 100px; /* 내용이 늘면 늘어남@ */
}

.info>div:first-child{
    margin-right: 20px;
}
/* 3-2. 회사 주소 */
.info address{
    color: lightgray;
    font-style: normal; /* 기울임 제거 */
    font-size: 1.8rem;
    font-family: 'Cute Font', cursive;
    letter-spacing: -0.1rem;
    line-height: 2rem;
    /* position: absolute; */
}

/* 3-3. sns 박스 */
.info>div:last-child{
    /* 마지막 div만 오른쪽 끝 이돛ㅇ */
    margin-left: auto;
}

.sns{
    /* 플렉스박스 - 
    하위 li 옆으로 흐르게 */
    display: flex;

}

.sns li{
    width: 34px;
    height: 34px;
}
/* sns a요소 확장 */
.sns a{
    display: block;
    font-size: 32px;
    text-align: center;
    line-height: 30px;
    width: 100%;
    height: 100%;
}
/* 속성 선택자 -> [] 대괄호 사용
    [속성명=값] -> 값이 정확히 일치할 때 적용
    [속성명*=값] -> 값이 어딘가에 있기만 한다면 (* 모두)
    [속성명^=값] -> 값이 시작하는 문자가 있으면 (^일은 웃으면서 시작)
    [속성명$=값] -> 값이 끝나는 문자가 있으면 적용 (^일은 웃으면서 시작)

    -> 문자열이 문제가 없다면 따옴표없이 사용 가능
*/

/* sns a요소 오버시 */
.sns a[class*=facebook]:hover{
    color:lightgreen;
}

.sns a[class*=twitter]:hover{
    color:rgba(126, 206, 255, 0.648);
}

.sns a[class$=gram]:hover{
    color:rgb(255, 135, 199);
}

